<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">-->
  <link href="//rawgithub.com/ducksboard/gridster.js/master/dist/jquery.gridster.min.css" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">

  <link rel="stylesheet" href="css/app.css"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <div class="container">
      <div class="row">
          <div class="col-md-12">

              <!--[if lt IE 7]>
                  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
              <![endif]-->

              <ng-view></ng-view>

          </div>
      </div>
  </div>
  <script id="home.html" type="text/ng-template">
      <div ng-controller="AppCtrl">
          <div class="page-header">
              <a class="pull-right btn btn-primary" ng-click="addWidget()"><i class="icon-plus"></i> Add Widget</a>
              <a class="pull-right btn btn-warning" ng-click="clear()"><i class="icon-trash"></i> Clear</a>

          </div>
          <div ez-gridster="gridster" ez-gridster-config="customOptions"></div>


      </div>
  </script>
  <script id="ez-gridster-widget.html" type="text/ng-template">

      <li ng-controller="CustomWidgetCtrl" context="context">

          <div class="box-header">

              <div class="box-header-btns pull-right">
                  <!--<a title="settings" ng-click="openSettings($event, widget, $index)"><i class="icon-cog"></i></a>-->
                  <a title="Add widget" ng-click="addWidget()"><i class="icon-plus"></i></a>
                  <a title="Remove widget" ng-click="removeWidget($event, widget, $index)"><i class="icon-remove"></i></a>
              </div>
          </div>
          <div class="box-content">
              <p>{{ widget.name }}</p>

              <!--Chart-->
              <div ng-if="widget.isChartActive" ac-chart="widget.chartType" ac-data="widget.data" ac-config="widget.config" id='chart' class='chart'></div>

              <!--Table data-->
              <table ng-if="widget.isTableActive" class="table">

                  <tr ng-repeat="job in widget.jobsList">
                      <td>{{ job.name}}</td>
                      <td ng-repeat="(k, d) in widget.dates"
                          class='{{ haveDate(job.values, "TIMESTAMP", d) }}'

                          data-content=" countErrors('jobs', job.values, 'TIMESTAMP', d, job.name) "
                          data-placement="top"
                          data-trigger="manual"
                          data-container="body"
                          data-html="true"
                          hoverable-popover>

                      </td>
                  </tr>

                  <tr >
                      <td>Memory</td>
                      <td ng-repeat="(k, d) in widget.dates"
                          class='{{ haveDate(widget.memoryMessages, "TIMESTAMP", d) }}'

                          data-content=" countErrors('memories', widget.memoryMessages, 'TIMESTAMP', d) "
                          data-placement="top"
                          data-trigger="manual"
                          data-container="body"
                          data-html="true"
                          hoverable-popover>

                      </td>
                  </tr>

                  <tr>
                      <td>Processor</td>
                      <td ng-repeat="(k, d) in widget.dates"
                          class='{{ haveDate(widget.processorMessages, "TIMESTAMP", d) }}'

                          data-content=" countErrors('processors', widget.processorMessages, 'TIMESTAMP', d) "
                          data-placement="top"
                          data-trigger="manual"
                          data-container="body"
                          data-html="true"
                          hoverable-popover>

                      </td>
                  </tr>

                  <tr>
                      <td>Events</td>
                      <td ng-repeat="(k, d) in widget.dates"
                          class='{{ ( haveDate(widget.eventsList, "TIMESTAMP", d) ) }}'
                          data-content="countErrors('events', widget.eventsList, 'TIMESTAMP', d)"
                          data-placement="top"
                          data-trigger="manual"
                          data-container="body"
                          data-html="true"
                          hoverable-popover>

                      </td>
                  </tr>



              </table>
              <ul class="dropdown-menu context">
                  <li ng-repeat="(index, item) in dropList" ng-click="showChart($event, widget, item, index);" ><a data-chart="{{item.firstOption}}">{{item.name}}</a></li>
              </ul>
          </div>

      </li>


  </script>

  <script id="widget_settings.html" type="text/ng-template">
      <div>
          <form name="_form" class="form-horizontal" ng-submit="submit(_form)">
              <div class="modal-header">
                  <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
                  <h3>Widget Settings</h3>
              </div>

              <div class="modal-body no-padding">
                  <div class="row">
                      <div class="form-group" ng-class="{error: _form.name.$error && _form.submitted}">
                          <label class="control-label col-lg-3">Name</label>
                          <div class="col-lg-9">
                              <input name="name" type="text" ng-model="form.name" class="form-control"/>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="form-group" ng-class="{error: _form.sizex.$error && _form.submitted}">
                              <label class="control-label col-lg-6">Width</label>
                              <div class="col-lg-6">
                                  <select name="sizex" ng-model="form.sizex" class="form-control" ng-options="option.id as option.name for option in sizeOptions"></select>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="form-group">
                              <label class="control-label col-lg-6">Height</label>
                              <div class="col-lg-6">
                                  <select name="sizey" ng-model="form.sizey" class="form-control" ng-options="option.id as option.name for option in sizeOptions"></select>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="form-group" ng-class="{error: _form.sizex.$error && _form.submitted}">
                              <label class="control-label col-lg-6">Column</label>
                              <div class="col-lg-6">
                                  <select name="col" ng-model="form.col" class="form-control" ng-options="option.id as option.name for option in sizeOptions"></select>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="form-group">
                              <label class="control-label col-lg-6">Row</label>
                              <div class="col-lg-6">
                                  <select name="row" ng-model="form.row" class="form-control" ng-options="option.id as option.name for option in sizeOptions"></select>
                              </div>
                          </div>
                      </div>
                  </div>

                  <hr>
              </div>

              <div class="modal-footer">
                  <a ng-click="remove()" class="btn btn-danger pull-left" tabindex="-1"><i class="icon-trash"></i>Delete</a>
                  <a ng-click="dismiss()" class="btn" tabindex="-1"><i class="icon-remove"></i>Cancel</a>
                  <button type="submit" class="btn btn-primary btn-lg"><i class="icon-ok"></i>Save</button>
              </div>
          </form>
      </div>
  </script>



  <script data-require="jquery@2.0.3" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>


  <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
  <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>

  <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>-->

  <script type="text/javascript" src="//rawgithub.com/ducksboard/gridster.js/master/dist/jquery.gridster.min.js"></script>



  <script type='text/javascript' src='bower_components/d3/d3.min.js'></script>
  <script type='text/javascript' src='bower_components/angular-charts/dist/angular-charts.js'></script>


  <script src="bower_components/ez-gridster/src/ez-gridster.js"></script>

  <script src="PerformanceSummaryDao.js"></script>
  <script src="app.js"></script>
  <script src="controllers/WidgetSettingsCtrl.js"></script>
  <script src="directives/ngcontextmenu.js"></script>
</body>
</html>
